[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "19.24.1"
opencv-python = "4.7.0.72"
numpy = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
