autopep8==2.0.2
charset-normalizer==3.1.0
dlib==19.24.1
idna==3.4
numpy==1.24.2
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
pyttsx3==2.90
requests==2.28.2
urllib3==1.26.15
certifi==2022.12.7
cmake==3.26.1
distlib==0.3.6
filelock==3.10.7
pipenv==2023.3.20
platformdirs==3.2.0
virtualenv==20.21.0
virtualenv-clone==0.5.7